.board-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: auto;
  gap: 2rem;
  margin-top: 2rem;
  padding: 20px;
}


@media screen and (max-width: 1200px) {
  .board-grid {
    grid-template-columns: repeat(2, 1fr);
  }  
}

@media screen and (max-width: 800px) {
  .board-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

